{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/wander.webp')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         Hello there, I'm Jack, a 30-year-old based in the vibrant city of London.
          I find joy in exploring the great outdoors as much as I do in cozy movie nights at home.

        </p>
        <p>
          Embarking on a programming journey, I've delved into the realms of Python, HTML, CSS, SQL, JavaScript, Flask, Bootstrap, and more. Fascinated by the intricate world of data, I've also immersed myself in data science, mastering tools like Pandas, Plotly, and data visualization techniques.
        </p>
        <p>
          My quest doesn't stop there; I've ventured into RESTful routing, APIs, and web scraping, eager to unravel the mysteries of the digital landscape. With a curious mind and a passion for problem-solving, I'm dedicated to honing my skills and crafting meaningful solutions. Join me as I navigate the ever-evolving world of technology and programming!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
